body {
    background-color: #2F4F4F;
  }
h1 {
    text-align: center;
    color: greenyellow;
    font-weight: bold;
    font-size: 250%;
}
form {
    font-family:DejaVu Sans Mono, monospace;
    color: greenyellow;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.footer {
    text-align: center;
    color: #008B8B;
    font-family:Arial, sans-serif;
    font-size: 50%;
    position:absolute;
    bottom:0;
    width:100%;
}
*  {
    margin:0;
    padding:0;
}
html, body {height:100%;}